* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-container {
  background-color: #B3DFFF;
  padding: 50px 40px;
  border-radius: 15px;
  text-align: center;
  width: 400px; /* lebih lebar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #001867;
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}

h2 {
  color: #001867;
  margin-bottom: 10px;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}


.login-text {
  font-size: 16px;
  color: #001867;
  margin-bottom: 25px;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #003399;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #2489D4;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

a {
  color: #003399;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

